:root {
    --dark: #121725;
    --green : #54E6AF;
    --green-hover : #348f6c;
    --white: #FFFFFF ;
    --input-background : #2C344B;
    --light-blue: #C2CBE5;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--dark);
    font-family: 'Chivo', sans-serif;
}

/******************************** Section logo ***********************************/

#logo {
    position: absolute;
    width: 225px;
    height: 60px;
    left: 165px;
    top: 100px;
}

/******************************** Section inter-form ***********************************/

#inter-form h1{

    width: 665px;
    height: 62px;
    left: 175px;
    top: 276.13px;
    font-size: 42px;
    line-height: 62px;
    text-transform: uppercase;
    color: var(--green);
}

#inter-form p {
    width: 445px;
    height: 84px;
    left: 175px;
    top: 352.13px;
    font-size: 18px;
    line-height: 28px;
    color: var(--light-blue);

}

#inter-form {
    z-index: 10;
    background-color: var(--dark); /* 121725 */
    position: absolute;
    width: 723px;
    height: 619.37px;
    left: 175px;
    top: 230.63px;
}

form {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

form input[type='text'] , input[type='email'] {
    width: 400px;
    height: 56px;
    background: var(--input-background);
    color: var(--white);
    font-size: 20px;
    border-radius: 28px;
    padding: 15px;
    border: none;
}

form input:focus {
    outline: none;
}


.text {
    width: 400px;
    height: 200px;
    border-radius: 26px;
    background: var(--input-background);
    color: var(--white);
    font-size: 20px;
    padding: 15px;
    border: none;
}

.text:focus {
    outline: none;
}

.err {
    width: 200px;
    height: 50px;
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
}

button {
    width: 400px;
    height: 50px;
    border-radius: 28px;
    cursor: pointer;
    color: var(--dark);
    background: var(--green);
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 2px;
    border: none;
}


button:hover {
    background: var(--green-hover);
}

button:focus {
    outline: none;
}

.img-podcasts {
    left: 499.2px;
    top: 163.46px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.img-podcasts img {
    margin-bottom: 20px;
}
/***************************** Section img *******************************/
#img {
    z-index: 0;
    position: absolute;
    width: 962px;
    height: 640px;
    left: calc(50% - 962px/2 - 23px);
    top: calc(50% - 640px/2);

    background: url(/assets/desktop/image-host.jpg);
    mix-blend-mode: screen;
}

.patterns {
    position: absolute;
    width: 232px;
    height: 104px;
    left: 730px;
    top: 580px;
}